language: node_js
matrix:
  include:
    - os: linux
    - os: osx
      osx_image: xcode7.1
    - os: osx
      osx_image: xcode7.3
sudo: false
node_js:
  - "6"
  - "5"
  - "4"
  - "0.12"
before_install:
  - uname -a
  - if [ "$TRAVIS_OS_NAME" == "osx" ]; then sw_vers; fi
